/*RESET*/
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

body {
    font-family: "Open sans", sans-serif;
}

img{
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
}

/*NAVBAR*/
:root {
    --cor-black: #000000 ;
    --cor-navbar: #86868B;
    --cor-fff: #FFFFFF;
    --cor-links: #2997FF;
    --nvab-height: 44px;
    --cor-aciz: #FBFBFD ;
    --cor-footend: #6E6E73;
}


.container {
    width: 1280px;
    max-width: 100%;
    margin-inline: auto;
}

header {
    background-color: var(--cor-black);
    max-width: 1512px;
    margin: 0 auto;

        .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: var(--nvab-height);
}
    
}

.navgation > ul {
    display: flex;

    li {
        margin: 0 25px;
    }
        a {
            font-size: 16px;
            color: var(--cor-navbar);
        }

}

.buttonHeader {
    display: flex;
    button {
        align-items: center;
        margin: 0 25px;
    }
}

/*BACKGRAUNDER1*/
.bgtext {
    background-color: var(--cor-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1512px;
    margin: 0 auto;


    .tittle1 {
        margin-top: 50px;
        margin-bottom: 10px;
        color: var(--cor-fff);
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;
        letter-spacing: -0.28px;
    }

    .description {
        font-size: 27px;
        line-height: 35px;
        letter-spacing: 0.11px;
        color: var(--cor-navbar);
        text-align: center;
    }

    a{
        color: var(--cor-links);
        font-size: 21px;
        line-height: 29px;
        letter-spacing: 0.23px;
    }

    .banneritens {
        margin: 64.36px 208px 12px 246px ;
    }
}

/*BACKGRAUND2*/
.bannerevent {
    max-width: 1512px;
    margin: 0 auto;
    padding-top: 10px;
    img {
        width: 100%;
    }
}

/*BACKGRAUND3*/
.propagatePhone {
    display: flex;
    flex-direction: column;
    height: 692px;
    
    .textpropag {
        margin: 0 auto;
        text-align: center;
        h2 {
            align-items: center;
            font-size: 56px;
            font-weight: 700;
            line-height: 60px;
            letter-spacing: -0.28px;
            margin-top: 51px;
        }
            p {
                font-size: 28px;
                line-height: 31px;
                letter-spacing: 0.11px;
                margin-bottom: 14.64px;
            }
            
            p > a{
                color: var(--cor-links);
                font-size: 21px;
                line-height: 29px;
                letter-spacing: 0.23px;
            }
            

    }

    img {
        display: flex;
        height: 483px;
        width: 546px;
        margin: 0 auto;
    }
}

.espaceBuy {
    margin-left: 15px;
}

p > a {
    color: var(--cor-links);
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.37px;
}

/*BACKGRAUND4*/

.containersellwrap {
    width: 1512px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
 
}

.contblack {
    width: 738px;
    height: 545px;
    border: solid 3px var(--cor-fff);
    background-color: var(--cor-black);
    display: flex;
    flex-direction: column;
    align-items: center;

        p > a{
            color: var(--cor-links);
            font-size: 17px;
            line-height: 21px;
            letter-spacing: -0.37px;
        }

        .pwhite {
            margin-bottom: 10px;
            font-size: 21px;
        }

}

.imggrid1, .imggrid2, .imggrid3, .imggrid4, .imggrid5, .imggrid6  {
    display: flex;
    margin-top: auto;
}

.contwhite {
    width: 738px;
    height: 545px;
    border: solid 3px var(--cor-fff);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-aciz);

   h3 {
    margin-top: 27px;
   }

    .tittleblack {
        font-size: 40px;
        font-weight: 700;
        line-height: 44px;
    }

    .pblack {
        font-size: 21px;
        line-height: 0.34px;
        line-height: 26px;
        margin-bottom: 10px;
    }
}

.tittlewhite {
    color: var(--cor-fff);
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    margin-top: 30px;
}

.pwhite {
    color: var(--cor-fff);
}

.variavelimg {
    background-image: url(/img/imgsgrid/imggrid3.png);
}

.appleicongrid3, .wahtchseries, .watchultra {
    margin: 53px 0 5px 0;
}

/*BACKGRAUND-CARROSSEL OR SLIDER*/
.section-slide {
    max-width: 1512px;
    margin: 0 auto;
    img {
        width: 100%;
    }
}

/*FOOTER*/
.finallypage{
    display: flex;
    flex-direction: column;

    .containerfinaly {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        color: var(--cor-footend);
        line-height: 16px;
        margin: 0 auto;
        max-width: 1512px;

        p{
            max-width: 980px;
        }

        .text1 {
            margin-top: 11.59px;
        }


    }  

    .line {
        margin: 0 auto;
        padding: 10px 0px 15px 0;

    }


    .footerend{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        width: 980px;
        height: 434.31;

        .itenslists {
            font-size: 12px;
            line-height: 16px;
            
            h4 {
                font-weight: bold;
                font-size: 13px;
            }
        }

        .spaceitem {
            margin-top: 15px;
        }

        li {
            padding: 7px 0;
        }
    }


    .otherlinks {
        display: flex;
        color: var(--cor-footend); 
        font-size: 12px;
        align-items: center;
        max-width: 980px;
        margin: 0 auto;
        padding: 34px 0 5px;

        a {
            font-size: 12px;

        }
        
    }

    .listfooter {
        display: flex;
        justify-content: space-between;
        max-width: 980px;
        margin: 0 auto;
        font-size: 12px;
        color: var(--cor-footend);


        li {
            display: inline-flex;
            margin-left: 10px;
            padding: 0 10px 0 0; 
            border-right: 1px solid var(--cor-footend);
        }

    }


}


